
@font-face {
  font-family: 'AvenirNextforINTUIT';
  font-style: normal;
  font-weight: 400;
  src: local('AvenirNextforINTUIT'), local('AvenirNextforINTUIT'), url(https://github.intuit.com/gtsuji/fonts/blob/master/avenirnextforintuit/AvenirNextforINTUITW05-Rg.woff2?raw=true) format('woff2');
}